manifest {
    name            = 'freebayes-loop'
    author          = 'IARC/WHO'
    description     = 'Region-based parallel variant calling with freebayes for pooled HPV samples'
    mainScript      = 'freebayes_loop.nf'
    nextflowVersion = '>=22.10.0'
    version         = '1.0'
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'low_p'
    }

    sge {
        process.executor = 'sge'
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

    test {
        process.executor = 'local'
        params {
            input_file  = 'test_data/start_range.bed'
            bam_path    = 'test_data/bam_paths.txt'
            ref         = 'test_data/hpv16_ref.fa'
            publish_dir = './test_output'
            min_del     = 10
            cpu         = 1
            mem         = 2
        }
    }
}
